<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>chet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shabadid</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<!-- <string>Amrlipiheavy.ttf</string> -->
  <!--   <string>Anmollipi.ttf</string> -->
  <!--   <string>Choti Script 7 Bold.ttf</string> -->
  <!--   <string>GHW Adhiapak Bold.ttf</string> -->
  <!--   <string>Ghw_adhiapak_black.ttf</string> -->
  <!--   <string>Ghw_adhiapak_bold.ttf</string> -->
  <!--   <string>Ghw_adhiapak_book.ttf</string> -->
  <!--   <string>Ghw_adhiapak_chisel_blk.ttf</string> -->
  <!--   <string>Ghw_adhiapak_extra_light.ttf</string> -->
  <!--   <string>Ghw_adhiapak_light.ttf</string> -->
  <!--   <string>Ghw_adhiapak_medium.ttf</string> -->
		<!---->
    <string>AnmolLipiBoldTrue.ttf</string>
    <string>AnmolLipiSG.ttf</string>
    <string>GurbaniAkharHeavyTrue.ttf</string>
    <string>GurbaniAkharThickTrue.ttf</string>
    <string>GurbaniAkharTrue.ttf</string>
    <string>NotoSansGurmukhiBoldTrue.ttf</string>
    <string>NotoSansGurmukhiTrue.ttf</string>
    <string>PrabhkiTrue.ttf</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
