<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AnmolLipiBoldTrue.ttf</string>
		<string>AnmolLipiSG.ttf</string>
		<string>GurbaniAkharHeavyTrue.ttf</string>
		<string>GurbaniAkharThickTrue.ttf</string>
		<string>GurbaniAkharTrue.ttf</string>
		<string>NotoSansGurmukhiBoldTrue.ttf</string>
		<string>NotoSansGurmukhiTrue.ttf</string>
		<string>PrabhkiTrue.ttf</string>
	</array>
</dict>
</plist>
